
<div class="span8">

		<% @posts.each do |post| %>
			<div class="post_wrapper clearfix">				
				<h3 class="blog_title"><%= post.title %></h3>

				<div class="post_info">
					Posted <%= time_ago_in_words(post.created_at) %> ago // <i class="icon-comment icon-white"></i> <%= link_to "PERMALINK", 
    post_path(post, :anchor => "disqus_thread"), 
    :"data-disqus-identifer" => post.id %> 
				</div>

				<div class="post">
					<% if post.image? %>
						<%= link_to image_tag(post.image.url(:small), :class => 'title_image'), post%>
						<div class="image_shadow">
							<%= image_tag('photo-shadow.png') %>
						</div>
					<% end %>
					<div class="post_content">
						<%= raw HTML_Truncator.truncate(post.content, 125) %>
					</div>
				</div>

				<%= link_to 'MORE', post, :class => 'btn btn-small btn-inverse more-button' %>

			</div>
		<% end %>
			<%= will_paginate @posts %>
	
			<%= raw(disqus_comment_counts) %>
</div>
