<div id="blog_posts" class="span8">

			<div class="post_wrapper">
				
				<h3 class="blog_title"><%= @post.title %></h3>

				<div class="post_info">
					Posted <%= time_ago_in_words(@post.created_at) %> ago in <span class="category">Movies</span> | <i class="icon-comment"></i> <%= link_to("Permalink", post_path(@post, :anchor => "disqus_thread"))%> 
				</div>

				<div class="post">
					
						<%= link_to image_tag(@post.image.url(:small), :class => 'title_image') if @post.image? %>
		
					<div class="post_content">
						<%= raw @post.content %>
					</div>
				</div>
				<br>
				<hr>
				<br>
				<%= raw(disqus_thread) %>
				<%= raw(disqus_comment_counts) %>

			</div>

</div>