<div id="blog_posts" class="span8">

		<% @posts.each do |post| %>
			<div class="post_wrapper clearfix">				
				<h3 class="blog_title"><%= post.title %></h3>

				<div class="post_info">
					<%= time_ago_in_words(post.created_at) %> ago // <span class="category">Movies</span> // <i class="icon-comment"></i> <%= link_to "This will be replaced by the comment count", 
    post_path(post, :anchor => "disqus_thread"), 
    :"data-disqus-identifer" => post.id %> 
				</div>

				<div class="post">

						<%= link_to image_tag(post.image, :class => 'title_image') if post.image? %>

					<div class="post_content">
						<%= raw HTML_Truncator.truncate(post.content, 125) %>
					</div>
				</div>

				<%= link_to 'MORE', post, :class => 'btn btn-small btn-inverse more-button' %>

			</div>
		<% end %>
			<%= will_paginate @posts %>
	
			<%= raw(disqus_comment_counts) %>
</div>
