<div id="blog_post" class="span8">

		<% @posts.each do |post| %>
					
				<h3 class="blog_title"><%= post.title %></h3>

				<div class="post_info">
					Posted <%= time_ago_in_words(post.created_at) %> ago in <span class="category">Movies</span> | <i class="icon-comment"></i> 10 comments 
				</div>

				<div class="post">
					<% unless post.image.blank? %>
						<%= image_tag(post.image, :class => 'title_image') %>
					<% end %>
					<div class="post_content">
						<%= raw HTML_Truncator.truncate(post.content, 125) %>
					</div>
				</div>

				<%= link_to 'Continue Reading', post, :class => 'btn btn-small pull-right btn-inverse' %>

				<div class="end_post"></div>

		<% end %>
		<%= will_paginate @posts %>
</div>
