<div id="blog_post" class="span8">

		<% @posts.each do |post| %>
			<div class="post_wrapper clearfix">				
				<h3 class="blog_title"><%= post.title %></h3>

				<div class="post_info">
					<%= time_ago_in_words(post.created_at) %> ago // <span class="category">Movies</span> // <i class="icon-comment"></i> 10 comments 
				</div>

				<div class="post">
					<% unless post.image.blank? %>
						<%= image_tag(post.image, :class => 'title_image') %>
					<% end %>
					<div class="post_content">
						<%= raw HTML_Truncator.truncate(post.content, 125) %>
					</div>
				</div>

				<%= link_to 'MORE', post, :class => 'btn btn-small btn-inverse more-button' %>

			</div>

		<% end %>
			<%= will_paginate @posts %>
	
</div>
