<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Katy Aftermath" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="row">
				<div class="logo">
					<h3><%= link_to 'Katy Aftermath', '/' %></h3>
					<h5 class="subheader">Katy Milstead's Blog</h5>
				</div>
		</div>

		<div class="row">
			<ul class="navigation">
				<li><%= link_to 'Home', '/' %></li>
				<li><%= link_to 'About', '#' %></li>
				<li><%= link_to 'Contact', '#' %></li>
			</ul>
		</div>
	</header>

	<!-- Begin Content -->
  	<%= yield %>
  
  <div id="footer">
		<div class="container">
			<div class="row">
				<div class="six columns"><h5>Archives</h5></div>
				<div class="six columns"><h5>About</h5></div>
			</div>
		</div>

	</div>

	<footer>
		&copy;2012 <?= anchor('site/index','Bryce Batson'); ?> All Rights Reserved
	</footer>
</body>
</html>